<h1>About</h1>
<h2>Company Bio</h2>
<p>
  <b>Ohmrus Inc</b> is dedicated to providing its customers great web solutions in order to solve their needs. Our global operations
  have been successfully deployed by millions of users for several centuries.</p>